body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
}
/*Edit after here*/
header{
  background-color: azure;
}
nav{
  background-color: aquamarine;
  display: inline;
  text-align: left;
}
li{
  display: inline-block;
  width: 30%;
  text-align: center;
  line-height: 40px;
  background-color: greenyellow;
}
p{
  line-height: 1.1;
  font-size: 90%; 
  background-color: yellow;
}
footer{
  background-color: beige;
}
.container{
  padding: 20px;
}
div{
  display: inline-block;
  background-color: aqua;
  background-size: 100%;
}
img{
  max-width: fit-content;
  max-height: fit-content;
}
main{
  background-color: white;
  font-size: 100%;
}
